// #header .mat-form-field-appearance-outline {
//     color: aqua;
//     border-radius: 25px;
// }

#headerSearch {
    margin-top: 15px;
}

#headerGif {
    height: 50px;
    width: 50px;
    background: url("/assets/images/header/nezuko.gif")no-repeat center center;
    background-size: cover;
    border-radius: 20px;
}