<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" style="width: 100%;">

    <div id="iframe">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" style="width: 100%;">
            <iframe style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);" width="100%" height="400px" frameBorder="0" [src]="urlSafe" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 

            <span style="font-size: 25px;">
                Featuring: Demon Slayer Season 2 Trailer 
            </span>
        </div>

        
    </div>

    <div id="tableDiv" fxLayout="row" fxLayoutAlign="center center">
        <table style="color: black;">
            <tr>
                <th></th>
                <th style="background-color: aqua;">Name</th>
                <th style="background-color: aquamarine;">Genre</th>
                <th style="background-color: bisque;">Type</th>
                <th style="background-color: blanchedalmond;">Episodes</th>
            </tr>

            <tr>
                <td style="background-color: burlywood;">1</td>
                <td style="background-color: cadetblue;">Fullmetal Alchemist</td>
                <td style="background-color: coral;">Action, Adventure, Drama</td>
                <td style="background-color: cornflowerblue;">TV</td>
                <td style="background-color: cornsilk;">64</td>
            </tr>

            <tr>
                <td style="background-color: crimson;">2</td>
                <td style="background-color: yellowgreen;">Gintama</td>
                <td style="background-color: yellow;">Action, Comedy</td>
                <td style="background-color: violet;">Tv</td>
                <td style="background-color: turquoise;">51</td>
            </tr>

            <tr>
                <td style="background-color: tomato;">3</td>
                <td style="background-color: teal;">Steins</td>
                <td style="background-color: tan;">Sci-Fi, Thriller</td>
                <td style="background-color: steelblue;">TV</td>
                <td style="background-color: slateblue;">24</td>
            </tr>
        </table>
    </div>

    
</div>
