<div fxLayout="row" fxLayoutAlign="none center" id="marquee" class="background-primary-light">
    <marquee class="text-floral-white">In-stock shipments are delayed due to COVID-19. For free shipping in US use code FREESHIP</marquee>
</div>

<div fxLayout="column" fxLayoutAlgin="center top" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">

        <mat-card id="home-banner" class="rounded-corners background-white">
            <mat-card-content>
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">

                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                        <span style="color: black; font-size: 65px; font-weight: bold;">
                            Free Shipping in US!
                        </span>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                        <span style="color: black; font-size: 35px">
                            For Free Shipping use code: <span style="font-weight: bold;">FREESHIP</span>
                        </span>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                        <button mat-raised-button class="background-primary-dark" style="border-radius: 25px;">
                            Shop Now
                        </button>
                    </div>

                    <div fxLayout="row" fxLayoutAllign="center center">
                        <span style="color: black; font-size: 20px;">
                            In-stock items will be held until June 30<sup>th</sup> before processing for the shipment. Offer valid for US shipments only.
                        </span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

